header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background: $dark;

  .header-wrapper {
    @include breakpoint(md) {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 1140px;
      gap: 40px;
    }  
  }

  nav {
    @include breakpoint(md) {
      flex: auto;
      display: flex;
      justify-content: flex-end;
    }
  }

  ul {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    gap: 15px;

    @include breakpoint(md) {
      gap: 30px;
    }

    a {
      color: $light;
      position: relative;

      &:hover {
        opacity: .8;
      }

      &.is-active::before {
        @include breakpoint(md) {
          background: $light;
          content: "";
          display: block;
          height: 3px;
          left: 0;
          top: -32px;
          position: absolute;
          width: 100%;
          pointer-events: none;   
        }
      }
    }
  }

  #block-movie-catalog-site-branding {
    text-align: center;

    a {
      color: $light;
      font-weight: 700;
      font-size: 1.5rem;

      &:hover {
        opacity: .8;
      }
    }
  }
  
  #search-block-form {
    display: flex;
  
    .form-search {
      height: 2rem;
      padding: 0 0.5rem;
      border-radius: 4px 0 0 4px;
      border: none;

      @include breakpoint(md) {
        width: 200px;
      }
    }

    #edit-actions {
      position: relative;

      &::after {
        content: '';
        background: url('../assets/icons/search.svg');
        width: 19px;
        height: 19px;
        position: absolute;
        left: 6px;
        top: 6px;
        pointer-events: none;
      }
    }
  
    .form-submit {
      font-size: 0;
      width: 2rem;
      height: 2rem;
      padding: 0 0.5rem;
      border-radius: 0 4px 4px 0;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }
    }
  }
}
