// Global styles
body {
  color: $dark;
  background: $light;
  font-family: 'Source Sans 3', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.layout-content {
  padding: 20px;
}

.content-wrapper {
  @include breakpoint(md) {
    width: 100%;
    max-width: 1140px;
    margin: auto;
  }  
}
